body {
	background-color: hsl(30, 38%, 92%);
	max-width: 1440px;
	margin: 0px auto;
	font-size: 14px;
}

.mobile-product-image {
	display: none;
}

.container {
	width: 600px;
	background-color: white;
	margin: 0px auto;
	height: 450px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.desktop-product-image {
	display: inline;
	width: 50%;
	float: left;
	border-radius: 10px 0px 0px 10px;
	clip: rect(0px,600px,200px,0px);

}

.product {
	display: inline-block;
	width: 40%;
	padding-left: 25px;
	padding-top: 15px;
	font-family: 'Montserrat', sans-serif;
}

.product-category {
	letter-spacing: 2px;
	color: hsl(228, 12%, 48%);
}

.product h1 {
	font-family: 'Fraunces', serif;
	font-size: 32px;
	color: hsl(212, 21%, 14%);
}

.product-description {
	line-height: 1.5;
	color: hsl(228, 12%, 48%);
}

.prices {
	margin: 0px auto;
	position: relative;
}	

.new-price {
	display: inline-block;
	color: hsl(158, 36%, 37%);
	font-family: 'Fraunces', serif;
	font-size: 30px;
}

.old-price {
	display: inline-block;
	text-decoration-line: line-through;
	color: hsl(228, 12%, 48%);
	margin: 0px auto;
	position: absolute;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);
}

.add-to-cart {
	background-color: hsl(158, 36%, 37%);
	width: 70%;
	padding: 15px;
	margin: 0px auto;
	margin-top: 20px;
	text-align: center;
	color: white;
	border-radius: 10px;
}

.add-to-cart:hover {
	cursor: pointer;
	background-color: hsl(158, 36%, 25%);
}

@media only screen and (max-width: 600px) {
  .container {
	width: 317px;
	height: 600px;
  }

  .desktop-product-image {
  	display: none;
  }

  .mobile-product-image{
  	display: block;
  	border-radius: 10px 10px 0px 0px;
  	width: 100%;
  }

  .product {
  	padding-top: 0px;
  	display: block;
  	width: 90%;
  	padding-left: 15px;
  }

  .product h1 {
  	margin-top: 0px;
  }
}